<footer class="bd-footer py-4 py-md-5 mt-5 bg-dark">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-light bg-dark">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a
          class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none"
          href="/"
          aria-label="Bootstrap"
        >
          <img src="logo.png" alt="logo" width="70px" />
          <span class="fs-5 text-light px-2">VENUS CAR</span>
        </a>
        <ul class="list-unstyled small">
          <li class="mb-2">
            This are cars with all the love in the world by the
            <a href="#">Venus team</a> with the help of
            <a href="#">our contributors</a>.
          </li>
          <li class="mb-2">
            Vieni a trovarci in Abruzzo
            <a href="#"></a>
          </li>
          <li class="mb-2">Venere(AQ)</li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Link utili</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/">Home</a></li>
          <li class="mb-2"><a href="/docs/5.3/">Lavora con noi</a></li>
          <li class="mb-2">
            <a href="/docs/5.3/examples/">Preventivi live</a>
          </li>
          <li class="mb-2">
            <a href="#">Finanziarie</a>
          </li>
          <li class="mb-2">
            <a href="#">Autoricambi</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Servizi</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#">Rinnovo patente</a>
          </li>
          <li class="mb-2">
            <a href="#">Pagamento bollo</a>
          </li>
          <li class="mb-2">
            <a href="#">Assicurazione auto</a>
          </li>
          <li class="mb-2">
            <a href="#">Rottama auto</a>
          </li>
          <li class="mb-2">
            <a href="#">Permuta auto</a>
          </li>
          <li class="mb-2">
            <a href="#">Tagliando</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Magazine</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#">Auto più acquistate</a>
          </li>
          <li class="mb-2">
            <a href="#">Auto del mese</a>
          </li>
          <li class="mb-2">
            <a href="#">Sponsor</a>
          </li>
          <li class="mb-2">
            <a href="#">Discussioni</a>
          </li>
          <li class="mb-2">
            <a href="#">Consigli al volante</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
